<!DOCTYPE html>
<html>
<style>
div {
  background-color: green;
  animation-name: example;
  animation-duration: 5s;
}

@keyframes example {
  from {background-color: green;}
  to {background-color: yellow;}
}
</style>
  <head>
    <title> CO levels </title>
    <link rel="stylesheet" type="text/css" href="../static/styles/homepage.css">
    <meta http-equiv="refresh" content="5">
    <form action="" method="GET" role="form">
      <div>
        <h2> Current CO levels </h2>
      </div>
      <body>

        <h3> Time: {{ timestamp }}</h3>

        <h3> CO Level: {{ colevel }}</h3>

        <h4>
          <a href="subscribe">Please subscribe if you want to get notifications! </a>
        </h4>

      </body>

    </form>

  </head>

</html>
